/* color palette: https://coolors.co/449fee-0e62ab-073763-052542-4b2e83-e8e3d2-b7a57a-85754d */

/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 16px;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 18px;
  }
}

/* extra large */
/* @media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
} */

/* CONTENT */
body {
  background-color:  white;
  color: #073763;
  padding-top: 6.2rem;
}

.home-body {
  padding-top: 0px;
}

.main-info-container-fluid {
  margin-left: 12rem;
  margin-right: 12rem;
}

h1, h2, h3, h4, .navbar .nav-link{
  font-family: 'Bungee', cursive;
}

h1, h2, h3, h4, .navbar .nav-link {
  text-align: center;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

.dropdown-menu {
  background-color: rgba(14, 98, 171, 1);
}

.dropdown-item {
  color: white;
  font-size: 10px;
}

/* HEADER */
.s-header-img {
  width: 100%;
  position: relative;
}

#mobile-header-logo {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;

  animation: fadein ease 4s;
}
#header-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;

  animation: fadein ease 4s;
}

/* make logo fade in */
@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* NAVBAR
  reference: https://bootstrapious.com/p/transparent-navbar
 */
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: white;
  font-family: 'Bungee', cursive;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #449FEE;
  text-decoration: none;
}

/* Change navbar styling on scroll
  controlled in js file*/
.navbar.active {
  background: #073763;
}

.navbar.active .nav-link {
  color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #85754D;
  text-decoration: none;
}

.dropdown-menu {
  background-color: rgba(14, 98, 171, 1);
}

.dropdown-item {
  color: white;
  font-size: 0.7rem;
}

/* navbar hamburger menu */
/* Set the border color */
.custom-toggler.navbar-toggler {
  border-color: white;
}
/* Setting the stroke using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(14, 98, 171, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    transition: none;
  }
  .navbar.active {
    transition: all 0.4s;
  }
  .navbar .navbar-brand, .navbar .nav-link {
      text-align: center;
  }

  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #85754D;
    text-decoration: none;
  }
}

/* toggled when menu is opened */
.menu-displayed {
  background-color: #073763;
  color: white;
}

/* hide/display logo
  toggled in js file */
.hide-logo {
  display: none;
}
.display-logo {
  display: block;
}

.row {
  /* border: solid green; */
  margin: 1.6rem 1.1rem 1.6rem 1.1rem;
}

/* Upoming Events */
.event-specifics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0.55rem 0.8rem 0.55rem;
}

.event-specifics p {
  margin: 0.55rem;
}

.event-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.event-details div {
  height: 100%;
  border: solid #073763 0.05rem;
  border-radius: 1.1rem;
  margin-left: 0.55rem;
}

.month-day {
  background-color: #073763;
}

.month-day p {
  text-align: center;
  color: white;
}

.day {
  font-size: 35px;
}

.events {
  display: flex;
  flex-direction: column;
}

/* Sponsors */

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sponsor-image {
  width: 300px;
  margin: 20px;
}

.sponsor-image:hover {
  filter: drop-shadow(10px 10px 5px rgb(190, 190, 190));
}

#sponsor-section {
  margin-top: 20px;
}

#sponsor-section h3 {
  margin-bottom: 0px;
}

/* FOOTER */
footer {
  background-color: #073763;
  margin: auto;
  color: white;
}
footer ul {
  padding-inline-start: unset;
}
footer li {
  list-style-type: none;
}

.social-logo {
  width: 2em;
}

#footer-social-media {
  display: flex;
  justify-content: center;
}

#footer-social-media li {
  align-items: center;
  padding: 1em;
}

/*This is for the about page*/
.information{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#admin{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap:wrap;
  width:80%;
}

.profile-pic{
  width:230px;
  height:230px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.alignment{
  padding: 0;
  margin: 0;
}

.name {
  font-size: larger;
}

.title {
  font-style:italic;
}

.quick-info {
  text-align: center;
}

/* for the carousel/slideshow on index.html */
.carousel-control-prev, .carousel-control-next {
  background-color: gray;
  opacity: 0.5;
}

.carousel-indicators li {
  background-color: rgb(14 78 191);
}

#carousel img {
  height: 400px;
  display: block;
}

.carousel-inner .col {
  /* padding: 0; */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-control-prev, .carousel-control-next {
  width: 4em;
}

.carousel {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1054px) {
  #carousel {
    display: none;
  }
}

@media (min-width: 1054px) {
  #carousel-replacement {
    display: none;
  }
}

/* hacljams section on homepage */
#hackjams-home {
  padding-top: 2.7rem;
  margin-right: auto;
}

@media (max-width: 618px) {
  #hackjams-home {
    margin: 2.7rem;
  }
}

#hackjams-home img {
  height: 31rem;
  /* align-self: center; */
  display: block;
  margin:auto;
}

/* discord bar on homepage */
#discord {
  background-color: rgb(114, 137, 218);
  margin: 0px;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  text-align: center;
}

#discord a {
  color: white;
  align-items: center;
}

.project-page-info {
  list-style-type: none;
  font-family: 'Open Sans';
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
  margin-right: 4.4rem;
  margin-left: -1.9rem;
  columns: 1;
  -webkit-columns: 1;
}

.project-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.project-row1, .project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-row {
  margin-bottom: 2.2rem;
  margin-top: 2.2rem;
}

.projectThumbnail {
  width: 22.2rem;
  height: 22.2rem;
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projectThumbnail h2 {
  font-size: 1.33rem;
}

.projectThumbnailImg {
  width: 19.8rem;
  height: 15.2rem;
}

.arrowSmall {
  margin: 0.55rem;
  width: 1.924rem;
  align-self: flex-end;
}

.projectExpanded {
  background-color: rgba(242, 242, 242, 1);
}

.projectExpanded h2 {
  padding-top: 1.1rem;
  margin-bottom: 1.1rem;
  text-align: start;
  margin-left: 1.3rem;
}

.projectExpanded .btn, .ongoingProject .btn {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.3rem;
  background-color: rgba(12, 76, 133, 1);
  width: 11.2rem;
  height: 2.4rem;
  border-radius: 1.05rem;
}

.projectExpanded button {
  padding: 0px;
}

.projectExpanded a, .ongoingProject a {
  line-height: 1.25em;
}

.projectExpandedImg {
  width: 24.05rem;
}

.hackjamProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.27rem;
  margin-right: 2.27rem;
}

.hackjamProjectText {
  width: 37.7rem;
}

.projectMembers {
  list-style-type: none;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 1.22rem;
  margin-bottom: 1.22rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#ongoing-page h2, #hackjam-intro h2, #ongoing-intro h2 {
  margin-top: 2rem;
  text-align: left;
}

#ongoing-page {
  margin-bottom: 2rem;
}

#hackjam-intro, #hackjam-body, #ongoing-intro, #ongoing-body {
  margin-left: 7.83rem;
  margin-right: 7.83rem;
}

#hackjam-body,
#ongoing-body,
#ongoing-end-blurb,
#hackjam-end-blurb,
#ongoing-intro p,
#hackjam-intro p {
  color:black;
}

#hackjam-intro img, #ongoing-intro img {
  height:18rem;
}

.hackjam-main-info-row {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.hackjam-main-info-row h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.hackjam-main-info-row h4 {
  font-size: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 800;
}

hr {
  background: #073763;
  border-radius: 2.3rem;
}

#ongoing-end-blurb, #hackjam-end-blurb {
  height: 12.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ongoing-end-blurb h2, #hackjam-end-blurb h2 {
  margin-bottom: 1.6rem;
}

#ongoing-end-blurb a, #hackjam-end-blurb a {
  color:rgb(114, 137, 218);
}

.emptyProject {
  background-color: rgb(255, 255, 255);
}

.ongoingProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ongoingProject img {
  width: 14.6rem;
  height: 14.3rem;
}

.ongoingProject h3 {
  font-size: 1.7rem;
  margin-bottom: 0.27rem;
}

.projectBody {
  width: 33.2rem;
}

.ongoingProject .btn {
  margin-bottom: 1.6rem;
}

.ongoingTeam hr {
  height: 0.16rem;
  margin-top: 0px;
}

.ongoingTeam ul {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 1.3rem;
  list-style-type: circle;
}

.hidden {
  /* Used to override other display properties,
   * .hidden should always take highest precedence */
  display: none !important;
}

.disabledArrowButton {
  /* opacity:0.4;
  filter:alpha(opacity=40); */
  padding-bottom: 2.2rem;
}