.App {
  text-align: center;
  font-size: 16;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index : 100;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c {
  width:auto;
  height:auto;
}

.ThreeScene {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index : -1;
}

.BrainWindow {
  height: 45vh;
  width: 100vw;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  }

.wire {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.backgroundPath {
  stroke: transparent;
  stroke-width: 1px;
  fill: none;
}

.linkPath {
  stroke: rgb(255, 255, 162);
  stroke-width: 3px;
  fill: none;
}

.droplet {
  fill: var(--base1);
  border-radius: 5;
}