/* Styling for overall html */

html {
  font-size: 10px;
  font-family:'Bungee', 'Open Sans', Geneva, Verdana, sans-serif;
}

/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 12px;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 16px;
  }

  .AdminInfo {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 18px;
  }
}

/* div {
  color: #073763;
} */

img {
  width: 12rem;
  height: 12rem;
}

.AdminContainer {
  margin-bottom: 2rem;
}

.AdminContainer h1, .AlumniContainer h1 {
  font-size: 2rem;
}

.AdminContainer h2 {
  font-size: 1.3rem;
  font-family: 'Open Sans';
}

.AdminContainer h3 {
  font-size: 1rem;
  color: #9E9577;
  margin-top: 0.5rem;
  margin-bottom: 0
}

.AdminContainer h4 {
  font-size: 0.8rem;
  color: #9E9577;
  margin-top: 0;
}

.AdminInfo {
  columns: 400px 2;
}

.AlumniContainer h2 {
  color: black;
  font-size: 1.3rem;
}

.AlumniContainer h3 {
  color: black;
  font-size: 1.1rem;
}

.AlumniContainer h4 {
  color: black;
  font-size: 0.9rem;
}

.AlumniContainer a {
  font-size: 0.9rem;
  color: #073763;
  text-decoration: none
}

.hr {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 1px;
  background-color: rgb(51, 51, 51);
  margin-bottom: 2rem;
}

.EndBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #073763;
  color: white;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}